body {
    font-family: sans-serif;
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    color: black;
    text-decoration: underline;
}
/***** Menu Bar Styling *****/
#menubar, img.menu {
    height: 40px;
}
#menubar {
    background-color: #953734;
    width: 100%;
    border: 1px solid black;
}
.menu {
    font-size: 20px;
}
ul.menu {
    display: inline;
    padding: 0px;
    list-style-type: none;
    overflow: hidden;
}
li.menu {
    float: left;
    border: 1px;
}
li.menu a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    border-right: 1px solid black;
}
/* li:last-child.menu a {
    border-right: none;
} */
li.menu a:hover {
    background-color: bisque;
}
img.menu {
    padding: 0;
    margin: 0;
    border-right: 1px solid black;
    float: left;
}
#vids, #tweets {
    width: 200px;
    height: 100vh;
    overflow: auto;
}
#vids {
    /* background-color: blue; */
    float: left;
    /* border-right: 1px solid black; */
}
#content {
    /* background-color: gray; */
    float: left;
    width: calc(100% - 400px);
    /* border-right: 1px solid black;
    border-left: 1px solid black; */
}
#tweets {
    /* background-color: green; */
    float: right;
    /* border-left: 1px solid black */
}
#footer {
    background-color: #953734;
    height: 100px;
    width: 99%;
    position: fixed;
    bottom: 0;
}

/***** Home Page Styling *****/
#pds, #deep {
    /* margin-left: 200px; */
    float: left;
    width: calc(50% - 20px);
    height: 100%;
    /* margin-left: 10px; */
    padding-left: 5px;
    padding-right: 5px;
    /* border-right: 1px solid black; */
}
#pds {
    /* border-left: 1px solid black; */
}
.full {
    width: 100%;
}